doctype html
html
   head
      title Knowladgebase
      link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
      link(rel="stylesheet", href="/css/style.css")
   body
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        .navbar-brand(href='#') KnowladgeBase
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar



        navbarsExampleDefault.collapse.navbar-collapse
         ul.navbar-nav.mr-auto
           li.nav-item
             a.nav-link(href='/')
               | Home 
               span.sr-only (current)
           li.nav-item
             a.nav-link(href='/articles/add') Add Article

         ul.nav.navbar-nav.navbar-right
           li.nav-item
             a.nav-link(href='/users/register') Register
           li.nav-item
             a.nav-link(href='/users/login') Login
            
            
         

      .container
           block content
           br
           hr
           footer
              p Copyright &copy; 2019 
      script(src='/bower_components/jquery/dist/jquery.js')
      script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
      script(src='/js/main.js')